<?xml version="1.0"?>
<launch>
    <!-- load gazebo -->
    <arg name = "render" default="true" />
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
        <arg name="world_file" value="'$(find obstacle_avoidance)/world/my_stage01.world'"/>
    </include>

<!--
    <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/>
-->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="5 obstacle_avoidance obstacle_avoidance.launch"
        name="timed_roslaunch" output="screen" />
</launch>

