<?xml version="1.0"?>
<launch>
	
	<node pkg="obstacle_avoidance" type="navigation_based_learning.py" name="navigation_based_learning_node" output="screen"/>

 	<node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        	args="5 orne_navigation_executor play_waypoints_nav_gamma.launch map_file:=/home/orne/map/Tsudanuma_map/Tsudanuma waypoints_file:=/home/orne/map/cit_2_way.yaml"
	name="timed_roslaunch" />

</launch>
